<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianxiong.expense.mapper.BranchMapper">
    <insert id="addBranch" parameterType="Branch" >
		insert into E_BRANCH(ID,NAME,PLACE) values(#{id},#{name},#{place})
	</insert>
    <select id="findBranchById" parameterType="String" resultMap="BranchMap">
		select * from E_BRANCH where ID=#{id}
	</select>
	<select id="findAllBranch" resultMap="BranchMap">
		select * from E_BRANCH ORDER BY ID
	</select>
    <update id="updateBranch" parameterType="Branch">
		update E_BRANCH set NAME=#{name}, PLACE=#{place} where ID=#{id}
	</update>
    <delete id="delBranch" parameterType="String">
		delete from E_BRANCH where ID=#{id}
	</delete>

	<resultMap id="BranchMap" type="Branch">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PLACE" property="place" />
	</resultMap>
</mapper>