<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianxiong.expense.mapper.ConductRecordMapper">
    <insert id="addConductRecord" parameterType="ConductRecord" >
		insert into E_CONDUCT_RECORD(ID,EXPENSE_ACCOUNT_ID,CONDUCTOR,CONDUCT_TIME,CONDUCT_CLASS,CONDUCT_RESULT,INFO) values(E_CONDUCT_RECORD_ID_SEQ.nextval,#{expenseAccountId},#{conductor},#{conductTime},#{conductClass},#{conductResult},#{info})
	</insert>
    <select id="findConductRecordById" parameterType="Integer" resultMap="ConductRecordMap">
		select * from E_CONDUCT_RECORD where ID=#{id}
	</select>
	<select id="findConductRecordByExpenseAccountId" parameterType="Integer" resultMap="ConductRecordMap">
		select * from E_CONDUCT_RECORD where EXPENSE_ACCOUNT_ID=#{id} ORDER BY ID
	</select>
    <update id="updateConductRecord" parameterType="ConductRecord">
		update E_CONDUCT_RECORD set EXPENSE_ACCOUNT_ID=#{expenseAccountId},CONDUCTOR=#{conductor},CONDUCT_TIME=#{conductTime},CONDUCT_CLASS=#{conductClass},CONDUCT_RESULT=#{conductResult},INFO=#{info} where ID=#{id}
	</update>
    <delete id="delConductRecord" parameterType="Integer">
		delete from E_CONDUCT_RECORD where ID=#{id}
	</delete>


	<resultMap id="ConductRecordMap" type="ConductRecord">
		<id column="ID" property="id" />
		<result column="EXPENSE_ACCOUNT_ID" property="expenseAccountId" />
		<result column="CONDUCTOR" property="conductor" />
		<result column="CONDUCT_TIME" property="conductTime" />
		<result column="CONDUCT_CLASS" property="conductClass" />
		<result column="CONDUCT_RESULT" property="conductResult" />
		<result column="INFO" property="info" />
	</resultMap>
</mapper>