<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenjianxiong.expense.mapper.ExpenseAccountInfoMapper">
    <insert id="addExpenseAccountInfo" parameterType="ExpenseAccountInfo" >
		insert into E_EXPENSE_ACCOUNT_INFO(ID,EXPENSE_ACCOUNT_ID,EXPENSE_CLASS,PRICE,INFO) values(E_EXPENSE_ACCOUNT_INFO_ID_SEQ.nextval,#{expenseAccountId},#{expenseClass},#{price},#{info})
	</insert>
    <select id="findExpenseAccountInfoById" parameterType="Integer" resultMap="ExpenseAccountInfoMap">
		select * from E_EXPENSE_ACCOUNT_INFO where ID=#{id}
	</select>
	<select id="findExpenseAccountInfoByExpenseAccountId" parameterType="Integer" resultMap="ExpenseAccountInfoMap">
		select * from E_EXPENSE_ACCOUNT_INFO where EXPENSE_ACCOUNT_ID=#{id}
	</select>
    <update id="updateExpenseAccountInfo" parameterType="ExpenseAccountInfo">
		update E_EXPENSE_ACCOUNT_INFO set EXPENSE_ACCOUNT_ID=#{expenseAccountId}, EXPENSE_CLASS=#{expenseClass}, PRICE=#{price}, INFO=#{info} where ID=#{id}
	</update>
    <delete id="delExpenseAccountInfo" parameterType="Integer">
		delete from E_EXPENSE_ACCOUNT_INFO where ID=#{id}
	</delete>

	<resultMap id="ExpenseAccountInfoMap" type="ExpenseAccountInfo">
		<id column="ID" property="id" />
		<result column="EXPENSE_ACCOUNT_ID" property="expenseAccountId" />
		<result column="EXPENSE_CLASS" property="expenseClass" />
		<result column="PRICE" property="price" />
		<result column="INFO" property="info" />
	</resultMap>
</mapper>