<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="cn.chenjianxiong.expense.controller" />
    <!-- 视图解析器 ，这里prefix，suffix 处理简化访问代码：如 Hi会变成/Hi.html-->
<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--        <property name="prefix" value="/jsp/" />-->
<!--        <property name="suffix" value=".jsp"/>-->
<!--    </bean>-->
    <mvc:annotation-driven /> <!-- 注解驱动@RequestBody @ResponseBody json到javaObject互转 -->
<!--    <mvc:resources location="/js/" mapping="/js/**" /> &lt;!&ndash; 静态资源不被拦截，访问maping资源实际本地location下找 &ndash;&gt;-->
</beans>